<!DOCTYPE html>
<html>

<head>
  <title>Arunkumar Portfolio</title>
  <!-- <link rel="stylesheet" type="text/css" href="style/style.css"> -->

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <script src="./script.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
  <!----hero Section start---->


  <div class="hero">

    <nav>
      <h2 class="logo">Port<span>folio</span></h2>
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">SKILLS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
      <a href="https://api.whatsapp.com/send/?phone=919940946260" class="btn">contact-me</a>
    </nav>

    <div class="content">
      <h4>Hello, my name is</h4>
      <h1>ARUN<span>KUMAR</span></h1>
      <h3>I'am a Frontend Developer.</h3>
      <div class="newslatter">
        <form>
          <input type="email" name="email" id="mail" placeholder="Enter Your Email">
          <input type="submit" name="submit" value="Lets Start">
        </form>
      </div>
    </div>
  </div>

  <!----About section start---->
  <section class="about">
    <div class="main" data-aos="fade-up" data-aos-duration="3000">
      <img src="assests/image/portimage.jpg">
      <div class="about-text">
        <h2>About Me</h2>
        <h5>Developer <span>&amp; Designer</span></h5>
        <p>I am a front-end web developer. I can provide clean code and pixel perfect design. I also make the website
          more &amp; more interactive with web animations.I can provide clean code and pixel perfect design. I also make
          the website more &amp; more interactive with web animations.A responsive design makes your website accessible
          to all users, regardless of their device.</p>
        <button type="button">Let's Talk</button>
      </div>
    </div>
  </section>

  <!-----service section start----------->
  <div class="service">
    <div class="title">
      <h2>My Experience</h2>
    </div>

    <div class="box">
      <div class="card" data-aos="flip-right" data-aos-duration="3000">
        <i class="fas fa-bars"></i>
        <h5>Intrakraft Solutions Pvt Ltd - Bangalore</h5>
        <div class="pra">
          <p>Three Months Internship For Frontend Web Development Worked On Html Css Javascript Bootstrap Angular Js From The Period Of August 2022 to October 2022.Worked In Projects As Support.</p>
        </div>
        <div style="position: absolute;left: 28%;">
          <a href="#"><button class="read_more">Read More</button></a>
        </div>
      </div>

      <div class="card" data-aos="flip-right" data-aos-duration="3000">
        <i class="far fa-user"></i>
        <h5>Intrakraft Solutions Pvt Ltd - Bangalore</h5>
        <div class="pra">
          <p>Currently Working As a frontend Developer Using Frontend Technologies AngularJS. Worked No. of Projects and Developed Current Website Of Intrakraft Solutions With My Own Stuff.</p>
          <div style="position: absolute;left: 28%;">
            <a href="#"><button class="read_more">Read More</button></a>
          </div>
        </div>
      </div>

      <div class="card" data-aos="flip-right" data-aos-duration="3000">
        <i class="far fa-bell"></i>
        <h5>Web Development</h5>
        <div class="pra">
          <p>Every website should be built with two primary goals: Firstly, it needs to work across all devices.
            Secondly, it needs to be fast as possible.</p>
          <div style="position: absolute;left: 28%;">
            <a href="#"><button class="read_more">Read More</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------Contact Me------>
  <div class="contact-me">
    <p>Let Me Get You A Beautiful Website.</p>
    <a class="button-two" href="https://api.whatsapp.com/send/?phone=919940946260">Hire Me</a>
  </div>

  <!------footer start--------->
  <footer>
    <p>Arun kumar</p>
    <p>For more HTML, CSS, and coding tutorial - please click on the link below to subscribe to my channel:</p>
    <div class="social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-dribbble"></i></a>
    </div>
    <p class="end">CopyRight By Arunkumar</p>
  </footer>

  <!-- <script>
    AOS.init();
  </script> -->

</body>

</html>